<nav class="navbar navbar-expand-lg  sticky-top  bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-item nav-link" routerLink="/">Home</a>
      </li>
      
    </ul>
  
  </div>
</nav>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <a class="navbar-brand"></a>
</nav>


<router-outlet></router-outlet>