
<div class="container">
    <div class="form-group col md-6 sticky-top mt-5">
      <input type="text" class="form-control" placeholder="Enter Keyword for Search" [(ngModel)]="searchedKeyword">
    </div>
    <table class="table table-hover ">
      <thead>
        <tr class="row-md-lg-12 bg-light">
          <th scope="col">Id</th>
          <th scope="col">Real_name</th>
          <th scope="col">Time_zone</th>
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of  membersList | filter:searchedKeyword">
  
          <th scope="row" (click)="open(memberModal,member)">{{member.id}}</th>
          <td (click)="open(memberModal,member)">{{member.real_name}}</td>
          <td (click)="open(memberModal,member)">{{member.tz}}</td>
  
        </tr>
      </tbody>
    </table>
    <ng-template #memberModal let-modal>
      <div class="modal-header">
 <h4>Display Data</h4>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body ">
            <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <label for="id" class="col-sm-4 col-form-label">Id</label>
                <div class="col-sm-8">
                  <input class="form-control" formControlName="id" id="id">
                </div>
              </div>
              <div class="form-group row">
                <label for="Real_name" class="col-sm-4 col-form-label">Real_name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" formControlName="real_name" id="real_name">
                </div>
              </div>
  
              <div class="form-group row">
                <label for="tz" class="col-sm-4 col-form-label">Time_zone</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" formControlName="tz" id="tz">
                </div>
              </div>
              <div class="form-group row">
                <label for="activity_periods" class="col-sm-4 col-form-label">Activity_Periods</label>
          
            </div>
              <div class="form-group row">
                <div class="col-sm-6">
                  <label>Start_time</label>
                  <input type="text" class="form-control" formControlName="start_time" id="start_time" [(ngModel)]="searchStartDate">
                  <table style="width:100%">
                    <tbody *ngFor="let member of membersList ">
                      <tr *ngFor="let activity_periods of member.activity_periods | filter:searchStartDate">
                        <td>{{activity_periods.start_time}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
  
                <div class="col-sm-6">
                  <label>End_time</label>
                  <input type="text" class="form-control" formControlName="end_time" id="end_time"  [(ngModel)]="searchEndDate">
                  <table style="width: 100%;">
                    <tbody *ngFor="let member of membersList ">
                 
                      <tr *ngFor="let activity_periods of member.activity_periods | filter:searchEndDate">
                   
                     <td>{{activity_periods.end_time}}</td>
                  
                    </tr>
                  </tbody>
                  </table>
                </div>
               
              </div>
         
            </form>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
